@charset "UTF-8";

/* PCファーストの設定です */
body{
font-family: TsukuARdGothic-regular;
/* margin: 10% 0; */

color: #633812;
}

header{
width: 100%;
text-align: center;
}
.sushi{
    max-width: 100%;
}
.sushi img{
   max-width: 101px;
}

/* メイン */

h1{
    text-align: center;
    }
    
    
/* テキスト */
.news p{
    font-size: 18px; 
    margin: 20px 10%;
    margin-top:10px;
    
    text-align: left;
    line-height: 30px;

}


/* サインの設定 */
path{
    margin: 20px 10%;
 /* text-align: right; */
}

svg{
    max-width: 100px;
    color: #633812;
}

.st0{
    fill:#481A1A;
}

.vec_img{
max-width: 100px;
margin:0% 5%;
max-width: 100px;
margin-left: auto;
}

/* サインの設定ここまで */



/* スマホの表示設定 */
@media screen and (max-width: 768px ){
    body{
        font-family:initial
        }

    .news p{
        font-size: 18px;
        margin: 25px 15%;
        text-align: left;
        line-height: 30px;
    }
    

svg{
    max-width: 60px;
text-align: right;

}

}
    


/* @media screen and (min-widtn: 1024px ){} */

